img.logoImg {
    width: 100px;
}

header.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 50px;
    border-bottom: 1px solid var(--theme-border);
}

.navBar a {
    text-decoration: none;
    color: black;
}

